.DS_Store
/.gradle/
/.idea/
/build/
/run_client/
/run_server/
/common/.gradle/
/common/build/
/common/logs/
/fabric/.gradle/
/fabric/build/
/fabric/logs/
/fabric/run_client/
/fabric/run_server/
/forge/.gradle/
/forge/build/
/forge/logs/
/forge/runs/
/fabric/config.txt
/fabric/launcher.exe
/forge/config.txt
/forge/launcher.exe
/forge/jar_output/
/fabric/jar_output/
/library_cached_sources/
/minecraft_cached_sources/
/bug_and_performance_qa.md
